.dark-high-contrast {
  --md-sys-color-primary: rgb(255 236 233);
  --md-sys-color-surface-tint: rgb(255 180 171);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 174 165);
  --md-sys-color-on-primary-container: rgb(34 0 1);
  --md-sys-color-secondary: rgb(183 252 255);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(58 214 220);
  --md-sys-color-on-secondary-container: rgb(0 14 15);
  --md-sys-color-tertiary: rgb(255 238 210);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(237 187 75);
  --md-sys-color-on-tertiary-container: rgb(17 10 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(32 14 12);
  --md-sys-color-on-background: rgb(255 218 214);
  --md-sys-color-surface: rgb(32 14 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(95 63 59);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 236 233);
  --md-sys-color-outline-variant: rgb(229 184 179);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(255 218 214);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(149 0 12);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 180 171);
  --md-sys-color-on-primary-fixed-variant: rgb(45 0 1);
  --md-sys-color-secondary-fixed: rgb(101 247 253);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(64 218 224);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 20 21);
  --md-sys-color-tertiary-fixed: rgb(255 222 160);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(242 191 79);
  --md-sys-color-on-tertiary-fixed-variant: rgb(25 16 0);
  --md-sys-color-surface-dim: rgb(32 14 12);
  --md-sys-color-surface-bright: rgb(100 74 71);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(46 26 24);
  --md-sys-color-surface-container: rgb(65 43 40);
  --md-sys-color-surface-container-high: rgb(77 54 51);
  --md-sys-color-surface-container-highest: rgb(90 65 62);
}
