.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 210 201);
  --md-sys-color-surface-tint: rgb(255 180 165);
  --md-sys-color-on-primary: rgb(81 7 0);
  --md-sys-color-primary-container: rgb(255 86 54);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(158 236 208);
  --md-sys-color-on-secondary: rgb(0 44 33);
  --md-sys-color-secondary-container: rgb(82 158 134);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 215 143);
  --md-sys-color-on-tertiary: rgb(51 35 0);
  --md-sys-color-tertiary-container: rgb(182 137 43);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(31 15 12);
  --md-sys-color-on-background: rgb(251 220 214);
  --md-sys-color-surface: rgb(31 15 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(92 64 58);
  --md-sys-color-on-surface-variant: rgb(252 211 203);
  --md-sys-color-outline: rgb(207 169 162);
  --md-sys-color-outline-variant: rgb(171 136 129);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(251 220 214);
  --md-sys-color-inverse-on-surface: rgb(56 38 34);
  --md-sys-color-inverse-primary: rgb(144 20 0);
  --md-sys-color-primary-fixed: rgb(255 218 211);
  --md-sys-color-on-primary-fixed: rgb(43 2 0);
  --md-sys-color-primary-fixed-dim: rgb(255 180 165);
  --md-sys-color-on-primary-fixed-variant: rgb(111 13 0);
  --md-sys-color-secondary-fixed: rgb(164 242 214);
  --md-sys-color-on-secondary-fixed: rgb(0 21 14);
  --md-sys-color-secondary-fixed-dim: rgb(136 214 186);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 62 48);
  --md-sys-color-tertiary-fixed: rgb(255 222 166);
  --md-sys-color-on-tertiary-fixed: rgb(25 15 0);
  --md-sys-color-tertiary-fixed-dim: rgb(242 191 91);
  --md-sys-color-on-tertiary-fixed-variant: rgb(72 50 0);
  --md-sys-color-surface-dim: rgb(31 15 12);
  --md-sys-color-surface-bright: rgb(84 64 59);
  --md-sys-color-surface-container-lowest: rgb(16 5 3);
  --md-sys-color-surface-container-low: rgb(42 25 22);
  --md-sys-color-surface-container: rgb(53 36 32);
  --md-sys-color-surface-container-high: rgb(65 46 42);
  --md-sys-color-surface-container-highest: rgb(77 57 53);
}
