.light-medium-contrast {
  --md-sys-color-primary: rgb(116 0 7);
  --md-sys-color-surface-tint: rgb(192 0 19);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(220 0 23);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(0 61 63);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(0 121 125);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(71 51 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(140 103 0);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(42 22 20);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(30 12 10);
  --md-sys-color-surface-variant: rgb(255 218 214);
  --md-sys-color-on-surface-variant: rgb(76 46 43);
  --md-sys-color-outline: rgb(108 74 70);
  --md-sys-color-outline-variant: rgb(137 100 96);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(65 43 40);
  --md-sys-color-inverse-on-surface: rgb(255 237 234);
  --md-sys-color-inverse-primary: rgb(255 180 171);
  --md-sys-color-primary-fixed: rgb(220 0 23);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(174 0 16);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(0 121 125);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(0 95 98);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(140 103 0);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(109 80 0);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(226 190 186);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 238);
  --md-sys-color-surface-container: rgb(255 226 222);
  --md-sys-color-surface-container-high: rgb(249 213 208);
  --md-sys-color-surface-container-highest: rgb(237 201 197);
}
