.light {
  --md-sys-color-primary: rgb(187 0 18);
  --md-sys-color-surface-tint: rgb(192 0 19);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(234 0 26);
  --md-sys-color-on-primary-container: rgb(255 251 255);
  --md-sys-color-secondary: rgb(0 105 109);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(0 193 199);
  --md-sys-color-on-secondary-container: rgb(0 74 76);
  --md-sys-color-tertiary: rgb(118 87 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(149 110 0);
  --md-sys-color-on-tertiary-container: rgb(255 251 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 248 247);
  --md-sys-color-on-background: rgb(42 22 20);
  --md-sys-color-surface: rgb(255 248 247);
  --md-sys-color-on-surface: rgb(42 22 20);
  --md-sys-color-surface-variant: rgb(255 218 214);
  --md-sys-color-on-surface-variant: rgb(95 63 59);
  --md-sys-color-outline: rgb(148 110 106);
  --md-sys-color-outline-variant: rgb(233 188 183);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(65 43 40);
  --md-sys-color-inverse-on-surface: rgb(255 237 234);
  --md-sys-color-inverse-primary: rgb(255 180 171);
  --md-sys-color-primary-fixed: rgb(255 218 214);
  --md-sys-color-on-primary-fixed: rgb(65 0 2);
  --md-sys-color-primary-fixed-dim: rgb(255 180 171);
  --md-sys-color-on-primary-fixed-variant: rgb(147 0 11);
  --md-sys-color-secondary-fixed: rgb(101 247 253);
  --md-sys-color-on-secondary-fixed: rgb(0 32 33);
  --md-sys-color-secondary-fixed-dim: rgb(64 218 224);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 79 82);
  --md-sys-color-tertiary-fixed: rgb(255 222 160);
  --md-sys-color-on-tertiary-fixed: rgb(38 26 0);
  --md-sys-color-tertiary-fixed-dim: rgb(242 191 79);
  --md-sys-color-on-tertiary-fixed-variant: rgb(92 67 0);
  --md-sys-color-surface-dim: rgb(246 210 205);
  --md-sys-color-surface-bright: rgb(255 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(255 240 238);
  --md-sys-color-surface-container: rgb(255 233 230);
  --md-sys-color-surface-container-high: rgb(255 226 222);
  --md-sys-color-surface-container-highest: rgb(255 218 214);
}
