.dark-high-contrast {
  --md-sys-color-primary: rgb(255 236 232);
  --md-sys-color-surface-tint: rgb(255 180 165);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(255 175 158);
  --md-sys-color-on-primary-container: rgb(32 1 0);
  --md-sys-color-secondary: rgb(182 255 228);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(132 210 183);
  --md-sys-color-on-secondary-container: rgb(0 14 9);
  --md-sys-color-tertiary: rgb(255 238 212);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(237 187 88);
  --md-sys-color-on-tertiary-container: rgb(18 10 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(31 15 12);
  --md-sys-color-on-background: rgb(251 220 214);
  --md-sys-color-surface: rgb(31 15 12);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(92 64 58);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 236 232);
  --md-sys-color-outline-variant: rgb(225 186 178);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(251 220 214);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(144 20 0);
  --md-sys-color-primary-fixed: rgb(255 218 211);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 180 165);
  --md-sys-color-on-primary-fixed-variant: rgb(43 2 0);
  --md-sys-color-secondary-fixed: rgb(164 242 214);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(136 214 186);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 21 14);
  --md-sys-color-tertiary-fixed: rgb(255 222 166);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(242 191 91);
  --md-sys-color-on-tertiary-fixed-variant: rgb(25 15 0);
  --md-sys-color-surface-dim: rgb(31 15 12);
  --md-sys-color-surface-bright: rgb(97 75 71);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(44 27 24);
  --md-sys-color-surface-container: rgb(63 44 40);
  --md-sys-color-surface-container-high: rgb(74 55 51);
  --md-sys-color-surface-container-highest: rgb(87 66 62);
}
